<div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <button ng-click="changeView()" type="button" class="btn btn-default" style="background-color: #65737e; height: 50px; width: 150px">Main</button>
    </div>
</div><br>
<div class="container">
    <input class="form-control" ng-model="tony.title" type="text" max="150" placeholder="Title..."><br>
    <textarea class="form-control" ng-model="tony.description" placeholder="Text..." rows="15"></textarea><br>
    <center><button ng-click="save(tony)" class="btn btn-primary" style="width: 100px">Save</button></center>
</div>