<!--<div class="row" style="margin-top: 50px;">-->
    <!--<div class="col-md-4">-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<div class="box">-->
            <!--<div class="container-1">-->
                <!--<span class="icon"><i class="fa fa-search"></i></span>-->
                <!--<input ng-model="filter.keywords" type="search" id="search" placeholder="Search...and press enter" ng-keydown="$event.which === 13 && loadTonies(filter)"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--<button ng-click="changeView('add')" type="button" class="btn btn-default" style="background-color: #65737e; height: 50px; width: 150px">New...</button>-->
        <!--<button ng-show="!currentUser" ng-click="changeView('login')" type="button" class="btn btn-default" style="background-color: #65737e; height: 50px; width: 150px">Log in</button>-->
        <!--<button ng-show="currentUser" ng-click="logOut()" type="button" class="btn btn-default" style="background-color: #65737e; height: 50px; width: 150px">Log out</button>-->
    <!--</div>-->
<!--</div>-->
<navbar></navbar>
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div ng-repeat="tony in tonies">
            <div class="col-md-4">
                <target description="tony.description" title="tony.title"></target>
                <center style="margin-top: 5px">
                    <button ng-click="goToUpdate(tony._id)" class="btn btn-warning">Edit</button>
                    <button ng-click="remove(tony)" class="btn btn-danger">Remove</button>
                </center>
            </div>
        </div>
    </div>
</div>
