<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tony</a>
        </div>

        <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="#shipment"><i class="fa fa-shield"></i>New package</a></li>
            <li><a href="#contact"><i class="fa fa-comment"></i>Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-default">
            <input maxlength="24" style="width: 550px; height: 45px" placeholder="Inpun package id and press enter...." ng-model="searchPackageId" ng-enter="getPackages(searchPackageId)">
            {{24 - searchPackageId.length}}
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="!currentUser">
            <li><a href="#/login">Log In</a></li>
            <li><a href="#/sign-up">Sign Up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="currentUser">
            <li dropdown>
                <a href="#" dropdown-toggle>{{currentUser.name}} {{currentUser.secondName}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/log-out">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
